<div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="card mt-5 rounded-lg shadow">
          <div class="card-header bg-gradient-primary text-white">
            
              <div class="bg-gradient-primary">
                <div class="card-header">
                  <h3 class="text-center">Upload Files</h3>
                </div>
              </div>
            </div>
          <div class="card-body py-4">
            <div class="form-group">
              <div class="custom-file mb-3">
                <input type="file" class="custom-file-input" id="fileInput" (change)="selectFile($event)" />
                <label class="custom-file-label" for="fileInput" [innerHTML]="currentFile ? currentFile.name : 'Choose file'"></label>
              </div>
              <button class="btn btn-primary btn-block" [disabled]="!selectedFiles" (click)="upload()">
                <i class="fas fa-cloud-upload-alt"></i> Upload
              </button>
            </div>
  
            <div *ngIf="currentFile" class="progress mb-3">
              <div class="progress-bar bg-success"
                   role="progressbar"
                   [style.width.%]="progress">
                {{ progress }}%
              </div>
            </div>
  
            <div class="alert alert-light" role="alert" *ngIf="message">{{ message }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>